<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <h2 class="title">Meal Summary</h2>
      <div class="meal-card">
        <div class="meal-details">
          <h2>Chicken Brocolli Salad</h2>
          <p>50 g carb</p>
          <p>5 g fat</p>
          <p>120 g proteins</p>
        </div>
        <img src="/images/MealImage.png" alt="meal-Image" class="meal-image" />
      </div>
    </div>
  </body>
</html>
