<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Herballife App</title>
</head>
<body>
  <h1><%= message %></h1>
  <p>This is a basic test of your EJS setup on Azure.</p>
</body>
</html>
